/********************************************************
 ****              MENU AND GENERAL                  ****
 ********************************************************/
/* MENU SUPERIOR E LATERAL */
.mdl-layout__header,
.mdl-layout__drawer-button
{
    color: #FFFFFF;
}

/* MENU SUPERIOR - TABS */
.mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link
{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-weight: 500;
    font-size: 100%;
}

/* MENU SUPERIOR - TABS (HOVER)*/
.mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover
{
    color: #FFFFFF;
}



/********************************************************
 ****           POSTS GENERAL (DESKTOP)              ****
 ********************************************************/

 /* Post Title */
h1
{
	font-size: 5vh;
	color: #000000;
	font-weight: 400;
	margin: 4% 20% 3% 15%;
	/*margin: 8vh 40vh 6vh 30vh;*/
}

 /* Post Subtitles */
h2
{
	font-size: 3.5vh;
	color: #000000;
	font-weight: 400;
	margin: 3% 20% 3% 15%;
	/*margin: 6vh 40vh 6vh 30vh;*/
}

 /* Notes */
h3
{
	font-size: 2vh;
	color: #000000;
	font-weight: 400;
	margin: 3% 20% 3% 15%;
	/*margin: 6vh 40vh 6vh 30vh;*/

}

/* Main Text */
p
{
	font-family: "Roboto", sans-serif;
	font-size: 2.5vh;
	margin: 1.5% 20% 1.5% 20%;
	/*margin: 3vh 40vh 3vh 40vh;*/
}

.img-container
{
	height: 50vh;
}

.in-text-img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/* Resource Links */
.resource
{
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 2.5vh;
	margin: 1.5% 20% 1.5% 20%;
}

/* Translate Button */
#tradutor
{
	position: absolute;
	right: 3%;
	margin-top: 0%;
	color: #FFFFFF;
}


/********************************************************
 ****            POSTS GENERAL (PHONES)              ****
 ********************************************************/

@media only screen and (max-width: 960px) {
	h1 {
		margin: 10% 3.75% 3% 3.75%;
		font-size: 6vh;
	}
	h2 {
		margin: 6% 3.75% 3% 3.75%;
		font-size: 4.5vh;
	}
	h3 {
		margin: 6% 3.75% 3% 3.75%;
		font-size: 3vh;
	}	
	p {
		margin: 5% 3.75% 1.5% 3.75%;
		font-size: 3.5vh;
	}
	.resource {
		margin: 3% 3.75% 1.5% 3.75%;
		font-size: 3.5vh;
	}
	#tradutor {
		margin-top: 25%;
		margin-left: 3.75%;
		position: static;
	}
	.mdl-layout__header,
	.mdl-layout__drawer-button {
		color: #000000;
	}
}