/********************************************************
 ****              MENU AND GENERAL                  ****
 ********************************************************/
.demo-layout
{
	/*background: url("index-cover.png") center / cover;*/
	background: #ffffff center / cover;
	position: fixed;
}

/* MENU SUPERIOR E LATERAL */
.mdl-layout__header,
.dl-layout__drawer-button
{
    color: #ffffff;
}

/* MENU SUPERIOR - TABS */
.mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link
{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;   /* #616161 for white backgrounds */
    font-weight: 500;
    font-size: 100%;
}

/* MENU SUPERIOR - TABS (HOVER)*/
.mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover
{
    color: #ffffff;
}


/********************************************************
 ****                POSTS GENERAL                   ****
 ********************************************************/
.page-content
{
	margin: auto;
	width: 90%;
}


#first-row
{
	margin-top: 10%;
}


.post-container
{
	background-color: #ffffff;
	height: 50vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	transition: box-shadow, 0.3s, linear, 0s;
}

.post-container:hover
{
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-image
{
	height: 70%;
	position: relative;
}

.post-description
{
	height: 30%;
	position: relative;
	display: block;
}

h1
{
	font-family: 'Roboto';
	font-size: 150%;
	color: #656565; /* #656565 if dark background */
	font-weight: 400;
	margin: 4% 0 0 6%;
	padding: 0 0 0 0;
}

h2
{
	font-family: 'Roboto';
	font-size: 90%;
	color: #656565; /* #656565 if dark background */
	font-weight: 400;
	margin: 0 0 0 6%;
	padding: 0 0 0 0;
}

#tradutor
{
	position: absolute;
	right: 5%;
	margin-top: 6%;
	margin-bottom: 2%;
	color: #FFFFFF;
}


/********************************************************
 ****              POSTS INDIVIDUAL                  ****
 ********************************************************/

 #post-1 .post-image
 {
 	background: url("./post-1/post-1-cover-md.png") center / cover;
 }

 #post-2 .post-image
 {
 	background: url("./post-2/post-2-cover-md.png") center / cover;
 }

 #post-3 .post-image
 {
 	background: url("./post-3/post-3-cover-md.png") center / cover;
 }

/********************************************************
 ****                    PHONES                      ****
 ********************************************************/

@media only screen and (max-width: 960px) {
	.page-content {
		margin: auto;
		width: 100%;
	}
	.post-container {
		height: 70vh;
	}
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 90%;
	}
	#tradutor {
		position: static;
		margin: 6% 0% 6% 6%;
	}
}