/********************************************************
 ****              MENU AND GENERAL                  ****
 ********************************************************/
.demo-layout-transparent
{
	background: url("index-cover.png") center / cover;
}


/* MENU SUPERIOR E LATERAL */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button
{
    color: #FFFFFF;
}

/* MENU SUPERIOR - TABS */
.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link
{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-weight: 500;
    font-size: 100%;
}

/* MENU SUPERIOR - TABS (HOVER)*/
.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover
{
    color: #FFFFFF;
}


/********************************************************
 ****                POSTS GENERAL                   ****
 ********************************************************/
#first-row
{
	margin-top: 10%;
}


.post-container
{
	height: 40vh;
}

.post-image
{
	background: #455A64 center / cover;
	height: 75%;
	position: relative;
}

.post-date
{
	background: #FFFFFF;
	height: 25%;
	position: relative;
}

h1
{
	font-family: 'Roboto Mono';
	font-size: 200%;
	color: #FFFFFF;
	font-weight: 400;
	position: absolute;
	margin: 0;
	bottom: 6%;
	left: 3%;
}

h2
{
	font-family: 'Roboto Mono';
	font-size: 120%;
	color: #656565;
	font-weight: 400;
	margin: 0;
	position: absolute;
	left: 3%;
	top: 50%;
	transform: translate(0, -50%);
}

.space
{
	color: #A0A0A0;
}

.button-container
{
	position: absolute;
	right: 5%;
	transform: translate(0, -50%);
}

.material-icons.md-24
{
	font-size: 150%;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	left: 18%;
	transform: translate(0, -50%);
}

#tradutor
{
	position: absolute;
	right: 5%;
	margin-top: 6%;
	color: #FFFFFF;
}




/********************************************************
 ****              POSTS INDIVIDUAL                  ****
 ********************************************************/

 #post-1 .post-image
 {
 	background: url("./post-1/post-1-cover.png") center / cover;
 }

  #post-2 .post-image
 {
 	background: url("./post-2/post-2-cover.png") center / cover;
 }