{% extends "base.html" %}

{% block title %}404 - Page Not Found - {{ SITENAME }}{% endblock %}

{% block content %}
    <article class="page">
        <header>
            <div class="page-header-top">
                <span class="material-symbols-outlined page-icon">error</span>
                <h1>404 - ERROR</h1>
            </div>
        </header>
        
        <div class="page-content">
            <p>Page Not Found</p>
            <p>The page you are looking for does not exist. It may have been moved or deleted, or you may have mistyped the URL.</p>
            
            <br>
            
            <p>Página Não Encontrada</p>
            <p>A página que você está procurando não existe. Ela pode ter sido movida ou excluída, ou você pode ter digitado o URL incorretamente.</p>
        </div>
    </article>
{% endblock %}
