/********************************************************
 ****              MENU AND GENERAL                  ****
 ********************************************************/
.demo-layout
{
	/*background: url("../index-cover.png") center / cover;*/
	background: #EEEEEE center / cover;
	position: relative;
}

/* MENU SUPERIOR AND LATERAL */
.mdl-layout__header,
.dl-layout__drawer-button
{
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

/* MENU SUPERIOR - TABS */
.mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link
{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-weight: 500;
    font-size: 100%;
}

/* MENU SUPERIOR - TABS (HOVER)*/
.mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover
{
    color: #FFFFFF;
}


/********************************************************
 ****                POSTS GENERAL                   ****
 ********************************************************/

.page-content
{
	margin: auto;
	width: 70%;
}

h1, p
{
	font-family: "Roboto", sans-serif;
	color: #212121;
	font-weight: 400;
	margin: 6% 5% 6% 5%;
	/*margin: 5vh 4vh 4vh 4vh;*/
}

h1 { font-size: 200%; }
p  { font-size: 115%; }
hr { margin: 0;}

.mdl-grid
{
	margin-top: 12%;
}

.about-container, .social-container
{
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF center / cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic
{
	width: 40%;
	display: block;
	margin: 17% auto 17% auto;
	border-radius: 50%;
}

.ico-container
{
	margin: 4% auto 4% auto;
	width: 70%;
}

.ico-container img
{	
	width: 14%;
	margin: 3%;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}

#tradutor
{
	position: absolute;
	right: 5%;
	margin-top: 6%;
	color: #FFFFFF;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}


/********************************************************
 ****                    PHONES                      ****
 ********************************************************/

@media only screen and (max-width: 960px) {
	.page-content {
		width: 100%;
	}

	.mdl-grid {
		margin-top: 10%;
	}

	.about-container, .social-container {
		width: 100vh;
	}

	.ico-container {
		margin: 0 auto 0 auto;
	}

	#tradutor {
		position: static;
		margin: 6% 0% 6% 6%;
	}
}