/********************************************************
 ****              MENU AND GENERAL                  ****
 ********************************************************/
.demo-layout-transparent
{
	background: url("../index-cover3.png") center / cover;
}


/* MENU SUPERIOR E LATERAL */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button
{
    color: #FFFFFF;
}

/* MENU SUPERIOR - TABS */
.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link
{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-weight: 500;
    font-size: 100%;
}

/* MENU SUPERIOR - TABS (HOVER)*/
.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover
{
    color: #FFFFFF;
}


/********************************************************
 ****                POSTS GENERAL                   ****
 ********************************************************/
h1
{
	font-family: "Roboto", sans-serif;
	font-size: 200%;
	color: #212121;
	font-weight: 400;
	margin: 6% 5% 5% 5%;
	/*margin: 5vh 4vh 4vh 4vh;*/
}

p
{
	font-family: "Roboto", sans-serif;
	font-size: 115%;
	color: #212121;
	font-weight: 400;
	margin: 3% 5% 6% 7%;
	/*margin: 2vh 4vh 5vh 6vh;*/
}

.mdl-grid
{
	margin-top: 8%;
}

#about
{
	background: #FFFFFF center / cover;
}

#social
{
	background: #FFFFFF center / cover;
}

.profile-pic
{
	width: 40%;
	display: block;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.mdl-grid .network-icons
{
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

.network-icons img
{
	width: 125%;
}

#tradutor
{
	position: absolute;
	right: 5%;
	margin-top: 6%;
	color: #FFFFFF;
}