/********************************************************
 ****              MENU AND GENERAL                  ****
 ********************************************************/
.demo-layout-transparent
{
	background: url("../index-cover.png") center / cover;
	position: relative;
}


/* MENU SUPERIOR E LATERAL */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button
{
    color: #FFFFFF;
}

/* MENU SUPERIOR - TABS */
.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link
{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-weight: 500;
    font-size: 100%;
}

/* MENU SUPERIOR - TABS (HOVER)*/
.demo-layout-transparent .mdl-layout__header .mdl-layout__header-row .mdl-navigation .mdl-navigation__link:hover
{
    color: #FFFFFF;
}


/********************************************************
 ****                POSTS GENERAL                   ****
 ********************************************************/
h1
{
	font-family: "Roboto", sans-serif;
	font-size: 200%;
	color: #212121;
	font-weight: 400;
	margin: 6% 5% 5% 5%;
	/*margin: 5vh 4vh 4vh 4vh;*/
}

p
{
	font-family: "Roboto", sans-serif;
	font-size: 115%;
	color: #212121;
	font-weight: 400;
	margin: 3% 5% 6% 7%;
	/*margin: 2vh 4vh 5vh 6vh;*/
}

.mdl-grid
{
	margin-top: 6%;
}

#about
{
	background: #FFFFFF center / cover;
}

#social
{
	background: #FFFFFF center / cover;
}

.profile-pic
{
	width: 40%;
	display: block;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.spacer
{
	display: inline-block;
	width: 22.22%;
	border: 0px;
}

.social-ico
{	
	width: 9.11%;
	margin: 16% 1% 0% 1%;
	border: 0px;
	padding: 0px;
}

#tradutor
{
	position: absolute;
	right: 5%;
	margin-top: 6%;
	color: #FFFFFF;
}


/********************************************************
 ****                    PHONES                      ****
 ********************************************************/

@media only screen and (max-width: 960px) {
	.spacer {
		display: inline-block;
		width: 14.28%;
		border: 0px;
	}

	.social-ico {	
		width: 12.28%;
		margin: 14% 1% 4% 1%;
		border: 0px;
		padding: 0px;
	}

	.mdl-grid {
		margin-top: 10%;
	}

	#about, #social {
		width: 100vh;
	}

	#tradutor {
		position: static;
		margin: 6% 0% 6% 6%;
	}
}